@using Aciktim.Models
@model dynamic
@{
    Layout = "_Layout";
}

<div class="position-fixed top-0 end-0 p-3" style="z-index: 1021">
    <div id="liveToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="1000">
        <div class="d-flex">
            <div class="toast-body">
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">@Model.Restaurant.RestaurantName</h6>
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="pills-menu-tab" data-bs-toggle="pill" data-bs-target="#pills-menu" type="button" role="tab" aria-controls="pills-menu" aria-selected="true">Menü</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-comment-tab" data-bs-toggle="pill" data-bs-target="#pills-comment" type="button" role="tab" aria-controls="pills-comment" aria-selected="false">Yorumlar</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Hakkında</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade active show" id="pills-menu" role="tabpanel" aria-labelledby="pills-menu-tab">
                @foreach (Product p in Model.Product)
                {
                    <div class="col-sm col-xl">
                        <h6 class="mb-4 mt-4">@p.ProductName</h6>
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <div class="btn-group" role="group">
                                @if (p.Image == null)
                                {
                                    <img class="img-fluid mx-auto mb-4" src="~/img/default.jpg" style="height: 100px;">
                                }
                                else
                                {
                                    <span>@p.Image</span>
                                }
                            </div>
                            <div class="btn-group" role="group">
                                <span>@p.Content</span>
                            </div>
                            <div class="ms-3">
                                <p class="mb-2">@p.Price.ToString("0.00") &#8378;</p>
                                <a href="#" class="btn btn-outline-info m-2 btnEkle" data-pId="@p.ProductId" data-pName="@p.ProductName" data-cId="@ViewBag.id">Ekle</a>
                            </div>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                }
            </div>
            <div class="tab-pane fade" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">
                @foreach (Comment c in Model.Comment)
                {
                    <div class="col-sm col-xl">
                        <h6 class="mb-4 mt-4">@c.Client.ClientName </h6>
                        <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                            <div class="btn-group" role="group">
                                <p>@c.Text</p>
                            </div>
                            <div class="ms-3">
                                <p class="mb-2">@c.Date</p>
                            </div>
                        </div>
                    </div>
                    <hr class="dropdown-divider">
                }
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
                <h1 class="display-6 mb-4 mt-2">@Model.Restaurant.RestaurantName</h1>
                <p class="h4">İletişim</p>
                <p>Telefon Numarası: <ins>@Model.Restaurant.Phone</ins></p>
                <p>E-mail adresi: <ins>@Model.Restaurant.EMail</ins></p>
                @foreach (GetAddress a in Model.Address)
                {

                    <p>Restorant adresi: <ins>@a.Country @a.City @a.State @a.Neighbourhood mah. @a.Street sk. @a.Apartment apt No:@a.No</ins></p>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(".btnEkle").click(function() {
            var id = $(this).attr("data-pId");
            var name = $(this).attr("data-pName");
            var cId = $(this).attr("data-cId");
            $.ajax({
                type: "POST",
                url: "/Client/Restaurant/Add/" + id + "/" + cId,
                success: function(durum) {
                    if (durum == "success") {
                        $(".toast-body").html(name + " sepete eklendi.");
                        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                        var toastList = toastElList.map(function(toastEl) {
                            return new bootstrap.Toast(toastEl)
                        })
                        toastList.forEach(toast => toast.show())
                    }
                    else {
                        $(".toast-body").html("Ürün eklenemedi. Sepetinizde başka restorantın ürünü var.");
                        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                        var toastList = toastElList.map(function(toastEl) {
                            return new bootstrap.Toast(toastEl)
                        })
                        toastList.forEach(toast => toast.show())
                    }
                },
                error: function() {
                }
            });
        });
    </script>
}