@using Aciktim.Models
@using Microsoft.AspNetCore.Mvc;
@model List<Carrier>
@{
    Layout = "_Layout";
    AciktimContext _context = new AciktimContext();
}
<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Kuryeler</h6>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Adı</th>
                    <th scope="col">Telefonu</th>
                    <th scope="col">E-mail'i</th>
                    <th scope="col">Adresi</th>
                    <th scope="col">Anlaşmalı mı?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Carrier c in Model)
                {
                    <tr>
                        <td>@c.CarrierName</td>
                        <td>@c.Phone</td>
                        <td>@c.EMail</td>
                        <td>
                            @foreach (GetAddress a in _context.GetCarrierAddress(c.CarrierId))
                            {
                                <p>Kurye adresi: <ins>@a.Country @a.City @a.State @a.Neighbourhood mah. @a.Street sk. @a.Apartment apt No:@a.No</ins></p>
                            }
                        </td>
                        <td>
                            @if (ViewBag.Carrier.Contains(c))
                            {
                                <span class="text-success">Anlaşmalı</span>
                            }
                            else
                            {
                                <span class="text-danger">Anlaşma yok</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script>
        $(".btnAnlasma").click(function() {
            var id = $(this).attr("data-pId");
            var name = $(this).attr("data-pName");
            var cId = $(this).attr("data-cId");
            $.ajax({
                type: "POST",
                url: "/Restaurant/Carrier/Add/" + id + "/" + cId,
                success: function(durum) {
                    if (durum == "success") {
                        $(".toast-body").html(name + " sepete eklendi.");
                        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                        var toastList = toastElList.map(function(toastEl) {
                            return new bootstrap.Toast(toastEl)
                        })
                        toastList.forEach(toast => toast.show())
                    }
                    else {
                        $(".toast-body").html("Ürün eklenemedi. Sepetinizde başka restorantın ürünü var.");
                        var toastElList = [].slice.call(document.querySelectorAll('.toast'))
                        var toastList = toastElList.map(function(toastEl) {
                            return new bootstrap.Toast(toastEl)
                        })
                        toastList.forEach(toast => toast.show())
                    }
                },
                error: function() {
                }
            });
        });
    </script>
}