@using Aciktim.Models
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    AciktimContext _context = new AciktimContext();
    string category = "";
}
@section body{
    <div class="modal fade small-model" id="small-modal" tabindex="-1" role="dialog" aria-labelledby="small-model-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-secondary rounded h-100 p-4" data-border-top="multi">
                <div class="model-header" style="display:flex;">
                    <h6 class="mb-4">Yeni Kart Ekle</h6>
                    <button type="button" class="btn btn-sm btn-sm-square btn-outline-primary" style="margin:-.5rem -.5rem -.5rem auto;" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/Restaurant/Product/Add" method="post" role="form">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="cardNumber" name="ImageId" placeholder="" maxlength="16">
                            <label for="floatingInput">Resim</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Pizza" name="ProductName" />
                            <label for="floatingInput">İsim</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="content" placeholder="sucuk, mozarella, özel sos" name="Content">
                            <label for="floatingInput">İçerik</label>
                        </div>
                        <div class="form-floating mb-3">
                            <h6>Kategori</h6>
                            @foreach (SelectListItem c in ViewBag.Category)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="@c.Value" id="@c.Value" name="Category" checked="@c.Selected">
                                    <label class="form-check-label" for="@c.Value">
                                        @c.Text
                                    </label>
                                </div>
                            }
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="Price" placeholder="49.99" name="Price" min="0.00" step="0.01">
                            <label for="floatingInput" id="lblPrice">Fiyat</label>
                        </div>
                        <input hidden type="text" name="RestaurantId" value="2" />
                        <button type="submit" class="btn btn-sm btn-outline-success addProduct">Ekle</button>
                        <button type="button" class="btn btn-sm btn-outline-danger m-2" data-bs-dismiss="modal">İptal</button>
                    </form>
                    @if (ViewBag.Message != null)
                    {
                        <script type="text/javascript">
                            window.onload = function() {
                                alert("@ViewBag.Message");
                            };
                        </script>
                    }
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
}
    <div class="col-sm col-xl pt-4 px-4">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Siparişlerim</h6>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Resim</th>
                        <th scope="col">İsim</th>
                        <th scope="col">İçerik</th>
                        <th scope="col">Kategori</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Güncelle</th>
                        <th scope="col">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Product p in ViewBag.Products)
                {

                    <tr>
                        <td>
                            @if (p.Image == null)
                            {
                                <img class="img-fluid mx-auto mb-4" src="~/img/default.jpg" style="height: 100px;">
                            }
                            else
                            {
                                <span>@p.Image</span>
                            }
                        </td>
                        <td>@p.ProductName</td>
                        <td>@p.Content</td>
                        <td>
                            @foreach (Category c in _context.GetCategoryName(p.ProductId).ToList())
                            {
                                category += @c.CategoryName + ", ";
                            }
                            @{
                                category = category.Substring(0, category.Length - 2);
                            }
                            <span class="categoryName">@category</span>
                            @{
                                category = "";
                            }
                        </td>
                        <td>@p.Price.ToString("0.00")</td>
                        <td><a href="/Restaurant/Product/Delete/@p.ProductId" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/Restaurant/Product/Update/@p.ProductId" class="btn btn-outline-success">Güncelle</a></td>
                    </tr>
                }
                <tr>
                    <td rowspan="4">
                        <button type="button" class="btn btn-sm btn-outline-success m-2 openModal" data-toggle="modal" data-target="#small-modal">Yeni Ürün Ekle</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{

    <script>
        $(".openModal").click(function() {
            $("#small-modal").modal("show");
        });
    </script>
}