@using Aciktim.Models
@model Product
@{
    Layout = "_Layout";
    AciktimContext _context = new AciktimContext();
    var abc = false;
}
<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <form action="/Restaurant/Product/Update" method="post" role="form" enctype="multipart/form-data">
            <input hidden type="text" name="ProductId" value="@Model.ProductId" />
            <input hidden type="text" name="RestaurantId" value="@Model.RestaurantId" />
            <input hidden type="text" name="ImageId" value="@Model.ImageId" />
            <div>
                <img class="img-fluid mx-auto mb-4" src="~/img/@Model.Image.ImageUrl" style="height: 100px;">
            </div>
            <div class="mb-3">
                <label for="formFileLg">Resim dosyası seçiniz(opsiyonel)</label>
                <input type="file" class="form-control bg-dark" id="formFileLg" name="ImageUrl">
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="ClientName" name="ProductName" value="@Model.ProductName">
                <label for="floatingInput">Ürün Adı</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="E-Mail" name="Content" value="@Model.Content">
                <label for="floatingInput">Ürün İçeriği</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Phone" name="Price" value="@Model.Price">
                <label for="floatingInput">Ürün Ücreti</label>
            </div>
            <div class="form-floating mb-3">
                @foreach (SelectListItem c in ViewBag.Category)
                {
                    abc = ViewBag.Pc.Contains(Convert.ToInt32(c.Value));
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@c.Value" id="@c.Value" name="Category" checked="@abc">
                        <label class="form-check-label" for="@c.Value">
                            @c.Text
                        </label>
                    </div>
                }
            </div>

            <button type="submit" class="btn btn-sm btn-outline-success">Kaydet</button>
        </form>
    </div>
</div>