@using Aciktim.Models
@model dynamic
@{
    Layout = "_Layout";

    decimal prices = 0;
    AciktimContext _context = new AciktimContext();
}

<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        @if (Model.Product.Count == 0 && Model.Menu.Count == 0)
        {
            <h6>Biraz kilo mu verdin? Bir şeyler yesen iyi olacak.</h6>
        }
        @foreach (Product p in Model.Product)
        {
            Image i = _context.Images.FirstOrDefault(x => x.ImageId == p.ImageId);
            <div class="col-sm col-xl">
                <h6 class="mb-4 mt-4">@p.ProductName</h6>
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <div class="btn-group" role="group">
                        <img class="img-fluid mx-auto mb-4" src="~/img/@i.ImageUrl" style="height: 100px;">
                        <p class="m-4">
                            @p.Content
                        </p>
                    </div>
                    <div class="ms-3">
                        <p class="mb-2">@p.Price.ToString("0.00") &#8378;</p>
                        <a href="/Client/Basket/Delete/@p.ProductId/@ViewBag.id" class="btn btn-outline-danger m-2 btnSil" data-pId="@p.ProductId">Sil</a>
                    </div>
                </div>
            </div>
            <hr class="dropdown-divider">
            prices += p.Price;
        }
        @foreach (Menu m in Model.Menu)
        {
            Image i = _context.Images.FirstOrDefault(x => x.ImageId == m.ImageId);
            <div class="col-sm col-xl">
                <h6 class="mb-4 mt-4">@m.MenuName</h6>
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <div class="btn-group" role="group">
                        <img class="img-fluid mx-auto mb-4" src="~/img/@i.ImageUrl" style="height: 100px;">
                        <p class="m-4">
                            @foreach (Product item in _context.GetProductFromMenu(m.MenuId))
                            {
                                <span>@item.ProductName &nbsp;</span>
                            }
                        </p>
                    </div>
                    <div class="ms-3">
                        <p class="mb-2">@m.Price.ToString("0.00") &#8378;</p>
                        <a href="/Client/Basket/DeleteMenu/@m.MenuId/@ViewBag.id" class="btn btn-outline-danger m-2 btnSil" data-pId="@m.MenuId">Sil</a>
                    </div>
                </div>
            </div>
            <hr class="dropdown-divider">
            prices += m.Price;
        }
        @if (Model.Product.Count == 0 && Model.Menu.Count == 0)
        {
            <a href="#" class="btn btn-outline-light m-2 btn-lg disabled">Ödeme Yap @prices.ToString("0.00") &#8378;</a>
        }
        else
        {
            <a href="/Client/Payment/Index/@Convert.ToDouble(prices)/@ViewBag.id" class="btn btn-outline-light m-2 btn-lg">Ödeme Yap @prices.ToString("0.00") &#8378;</a>
        }
    </div>
</div>