@using Aciktim.Models
@model Restaurant
@{
    Layout = "_Layout";
}
<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <form action="/Restaurant/Account/Update" method="post" role="form">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Image" name="Image" value="@Model.Image">
                <label for="floatingInput">Restorant Resmi</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="RestaurantName" name="RestaurantName" value="@Model.RestaurantName">
                <label for="floatingInput">Restorant Adı</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="E-Mail" name="EMail" value="@Model.EMail">
                <label for="floatingInput">E-Mail</label>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.Phone" maxlength="13">
                <label for="floatingInput">Telefon</label>
            </div>
            <input hidden type="text" name="RestaurantId" value="@Model.RestaurantId" />
            <input hidden type="text" name="RoleId" value="@Model.RoleId" />
            <input hidden type="text" name="Password" value="@Model.Password" />
            <input hidden type="text" name="ManagerId" value="@Model.ManagerId" />
            <input hidden type="text" name="AddressId" value="@Model.AddressId" />
            <button type="submit" class="btn btn-sm btn-outline-success saveRestaurant">Kaydet</button>
        </form>
    </div>
</div>