@using Aciktim.Models
@model List<Menu>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    AciktimContext _context = new AciktimContext();
}
@section body{
    <div class="modal fade small-model" id="small-modal" tabindex="-1" role="dialog" aria-labelledby="small-model-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bg-secondary rounded h-100 p-4" data-border-top="multi">
                <div class="model-header" style="display:flex;">
                    <h6 class="mb-4">Yeni Menü Ekle</h6>
                    <button type="button" class="btn btn-sm btn-sm-square btn-outline-primary" style="margin:-.5rem -.5rem -.5rem auto;" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/Restaurant/Menu/Add" method="post" role="form">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="cardNumber" name="ImageId" placeholder="">
                            <label for="floatingInput">Resim</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" placeholder="Ramazan Menüsü" name="MenuName" />
                            <label for="floatingInput">İsim</label>
                        </div>
                        <div class="form-group mb-3">
                            <h6>Ürünler</h6>
                            @foreach (SelectListItem c in ViewBag.Product)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="@c.Value" id="@c.Value" name="Product" checked="@c.Selected">
                                    <label class="form-check-label" for="@c.Value">
                                        @c.Text
                                    </label>
                                </div>
                            }
                        </div>
                        <div class="form-floating mb-3">
                            <input type="number" class="form-control" id="Price" placeholder="49.99" name="Price" min="0.00" step="0.01">
                            <label for="floatingInput" id="lblPrice">Fiyat</label>
                        </div>
                        <input hidden type="text" name="RestaurantId" value="@ViewBag.id" />
                        <button type="submit" class="btn btn-sm btn-outline-success addProduct">Ekle</button>
                        <button type="button" class="btn btn-sm btn-outline-danger m-2" data-bs-dismiss="modal">İptal</button>
                    </form>
                    @if (ViewBag.Message != null)
                    {
                        <script type="text/javascript">
                            window.onload = function() {
                                alert("@ViewBag.Message");
                            };
                        </script>
                    }
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
}
    <div class="col-sm col-xl pt-4 px-4">
        <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">Menüler</h6>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th scope="col">Resim</th>
                        <th scope="col">İsim</th>
                        <th scope="col">Ürünler</th>
                        <th scope="col">Fiyat</th>
                        <th scope="col">Güncelle</th>
                        <th scope="col">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Menu m in Model)
                {

                    <tr>
                        <td>
                            @if (m.Image == null)
                            {
                                <img class="img-fluid mx-auto mb-4" src="~/img/default.jpg" style="height: 100px;">
                            }
                            else
                            {
                                <span>@m.Image</span>
                            }
                        </td>
                        <td>@m.MenuName</td>
                        <td>
                            @foreach (Product p in _context.GetProductFromMenu(m.MenuId))
                            {
                                <span>
                                    @p.ProductName &nbsp;
                                </span>
                            }
                        </td>
                        <td>@m.Price.ToString("0.00")</td>
                        <td><a href="/Restaurant/Menu/Delete/@m.MenuId" class="btn btn-outline-danger">Sil</a></td>
                        <td><a href="/Restaurant/Menu/Update/@m.MenuId" class="btn btn-outline-success btnUpdate">Güncelle</a></td>
                    </tr>
                }
                <tr>
                    <td rowspan="4">
                        <button type="button" class="btn btn-sm btn-outline-success m-2 openModal" data-toggle="modal" data-target="#small-modal">Yeni Menü Ekle</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{

    <script>
        $(".openModal").click(function() {
            $("#small-modal").modal("show");
        });
    </script>
}