@using Aciktim.Models
@model List<Restaurant>
@{
    Layout = "_Layout";
    AciktimContext _context = new AciktimContext();
}
<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Kartlarım</h6>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Restorant Adı</th>
                    <th scope="col">Telefonu</th>
                    <th scope="col">E-Maili</th>
                    <th scope="col">Adresi</th>
                    <th scope="col">Anlaşmalı mı?</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Restaurant r in Model)
                {
                    <tr>
                        <td>@r.RestaurantName</td>
                        <td>@r.Phone</td>
                        <td>@r.EMail</td>
                        <td>
                            @foreach (GetAddress a in _context.GetRestaurantFullAddress(r.RestaurantId))
                            {
                                <p>Restorant adresi: <ins>@a.Country @a.City @a.State @a.Neighbourhood mah. @a.Street sk. @a.Apartment apt No:@a.No</ins></p>
                            }
                        </td>
                        <td>
                            @if (ViewBag.Restaurant.Contains(r))
                            {
                                <span class="text-success">Anlaşmalı</span>
                            }
                            else
                            {
                                <span class="text-danger">Anlaşma yok</span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>