@using Aciktim.Models
@model List<GetAddress>
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
    GetAddress aa = new GetAddress();
    foreach (GetAddress item in Model)
    {
        aa.AddressId = item.AddressId;
        aa.Country = item.Country;
        aa.City = item.City;
        aa.State = item.State;
        aa.Neighbourhood = item.Neighbourhood;
        aa.Street = item.Street;
        aa.Apartment = item.Apartment;
        aa.No = item.No;
    }
    AciktimContext _context = new AciktimContext();
    Country country = _context.Countries.FirstOrDefault(x => x.Name == aa.Country);
    City city = _context.Cities.FirstOrDefault(x => x.Name == aa.City);
    State state = _context.States.FirstOrDefault(x => x.Name == aa.State);
    Neighbourhood neighbourhood = _context.Neighbourhoods.FirstOrDefault(x => x.Name == aa.Neighbourhood);
    Street street = _context.Streets.FirstOrDefault(x => x.Name == aa.Street);
    Apartment apartment = _context.Apartments.FirstOrDefault(x => x.Name == aa.Apartment);
    ApartmentNumber apartmentNumber = _context.ApartmentNumbers.FirstOrDefault(x => x.Name == aa.No);
}
<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <form action="/Restaurant/Address/Update" method="post" role="form">
            <div class="form-floating mb-3">
                <label for="country">Ülke</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select form-select-sm mb-3" id="country" asp-items="@(new SelectList(@ViewBag.Country,"CountryId","Name",country.CountryId))" aria-label="Floating label select example" name="CountryId" required>
                </select>
                <label for="country">Ülke</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select form-select-sm mb-3" id="city" asp-items="@(new SelectList(@ViewBag.City,"CityId","Name",city.CityId))" aria-label="Floating label select example" name="CityId" required>
                </select>
                <label for="city">Şehir</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select form-select-sm mb-3" id="state" asp-items="@(new SelectList(@ViewBag.State,"StateId","Name",state.StateId))" aria-label="Floating label select example" name="StateId" required>
                </select>
                <label for="state">İlçe</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select form-select-sm mb-3" id="neighbourhood" asp-items="@(new SelectList(@ViewBag.Neighbourhood,"NeighbourhoodId","Name",neighbourhood.NeighbourhoodId))" aria-label="Floating label select example" name="NeighbourhoodId" required>
                </select>
                <label for="neighbourhood">Mahalle</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select form-select-sm mb-3" id="street" asp-items="@(new SelectList(@ViewBag.Street,"StreetId","Name",street.StreetId))" aria-label="Floating label select example" name="StreetId" required>
                </select>
                <label for="street">Sokak</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select form-select-sm mb-3" id="apartment" asp-items="@(new SelectList(@ViewBag.Apartment,"ApartmentId","Name",apartment.ApartmentId))" aria-label="Floating label select example" name="ApartmentId" required>
                </select>
                <label for="apartment">Apartman</label>
            </div>
            <div class="form-floating mb-3">
                <select class="form-select form-select-sm mb-3" id="apartmentno" asp-items="@(new SelectList(@ViewBag.ApartmentNumber,"ApartmentNumberId","Name",apartmentNumber.ApartmentNumberId))" aria-label="Floating label select example" name="ApartmentNumberId" required>
                </select>
                <label for="apartmentno">Daire</label>
            </div>
            <input hidden type="text" name="AddressId" value="@aa.AddressId" />

            <button type="submit" class="btn btn-sm btn-outline-success">Kaydet</button>
        </form>

    </div>
</div>
@section scripts{

    <script src="~/Content/assets/js/required/jquery-1.11.1.min.js"></script>

    <script>
        //Cities
        $(document).ready(function() {
            $("#country").change(function() {
                var url = '@Url.Content("~/")' + "Restaurant/Address/GetCities";
                var ddlsource = "#country";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#city").empty();
                    $.each(data, function(i, city) {
                        items += "<option value='" + city.value + "'>" + city.text + "</option>";
                    });
                    $("#city").html(items);
                });
            });
        });
        //States
        $(document).ready(function() {
            $("#city").change(function() {
                var url = '@Url.Content("~/")' + "Restaurant/Address/GetStates";
                var ddlsource = "#city";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#state").empty();
                    $.each(data, function(i, state) {
                        items += "<option value='" + state.value + "'>" + state.text + "</option>";
                    });
                    $("#state").html(items);
                });
            });
        });
        //Neighbourhoods
        $(document).ready(function() {
            $("#state").change(function() {
                var url = '@Url.Content("~/")' + "Restaurant/Address/GetNeighbourhoods";
                var ddlsource = "#state";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#neighbourhood").empty();
                    $.each(data, function(i, neighbourhood) {
                        items += "<option value='" + neighbourhood.value + "'>" + neighbourhood.text + "</option>";
                    });
                    $("#neighbourhood").html(items);
                });
            });
        });
        //Streets
        $(document).ready(function() {
            $("#neighbourhood").change(function() {
                var url = '@Url.Content("~/")' + "Restaurant/Address/GetStreets";
                var ddlsource = "#neighbourhood";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#street").empty();
                    $.each(data, function(i, street) {
                        items += "<option value='" + street.value + "'>" + street.text + "</option>";
                    });
                    $("#street").html(items);
                });
            });
        });
        //Apartments
        $(document).ready(function() {
            $("#street").change(function() {
                var url = '@Url.Content("~/")' + "Restaurant/Address/GetApartments";
                var ddlsource = "#street";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#apartment").empty();
                    $.each(data, function(i, apartment) {
                        items += "<option value='" + apartment.value + "'>" + apartment.text + "</option>";
                    });
                    $("#apartment").html(items);
                });
            });
        });
        //Apartment Numbers
        $(document).ready(function() {
            $("#apartment").change(function() {
                var url = '@Url.Content("~/")' + "Restaurant/Address/GetApartmentNumbers";
                var ddlsource = "#apartment";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#apartmentno").empty();
                    $.each(data, function(i, apartmentno) {
                        items += "<option value='" + apartmentno.value + "'>" + apartmentno.text + "</option>";
                    });
                    $("#apartmentno").html(items);
                });
            });
        });
    </script>
}