@using Aciktim.Models
@{
    Layout = "_Layout";
    AciktimContext _context = new AciktimContext();
    decimal price = 0;
}
<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <!--Active Orders-->
        <h6 class="mb-4">Aktif Siparişler</h6>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Siparişi Veren</th>
                    <th scope="col">Ürünler</th>
                    <th scope="col">Ücret</th>
                    <th scope="col">Tarih</th>
                    <th scope="col">Gönder</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Order o in ViewBag.Order)
                {
                    if (o.IsActive == true)
                    {
                        <tr>
                            <td>
                                @o.Client.ClientName
                            </td>
                            <td>
                                @foreach (Product p in _context.GetProductFromOrder(o.OrderId).ToList())
                                {
                                    <span>
                                        @p.ProductName &nbsp;
                                    </span>
                                    price += p.Price;
                                }
                                @foreach (Menu p in _context.GetMenuFromOrder(o.OrderId).ToList())
                                {
                                    <span>
                                        @p.MenuName &nbsp;
                                    </span>
                                    price += p.Price;
                                }
                            </td>
                            <td>@price.ToString("0.00")</td>
                            @{
                                price = 0;
                            }
                            <td>
                                @o.Date
                            </td>
                            <td><a href="/Restaurant/Home/SendOrder/@o.OrderId" class="btn btn-outline-success">Gönder</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
<!--InActive Orders-->
<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Önceki Siparişler</h6>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col">Siparişi Veren</th>
                    <th scope="col">Ürünler</th>
                    <th scope="col">Ücret</th>
                    <th scope="col">Tarih</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Order o in ViewBag.Order)
                {
                    if (o.IsActive == false)
                    {
                        <tr>
                            <td>
                                @o.Client.ClientName
                            </td>
                            <td>
                                @foreach (Product p in _context.GetProductFromOrder(o.OrderId).ToList())
                                {
                                    <span>
                                        @p.ProductName &nbsp;
                                    </span>
                                    price += p.Price;
                                }
                                @foreach (Menu p in _context.GetMenuFromOrder(o.OrderId).ToList())
                                {
                                    <span>
                                        @p.MenuName &nbsp;
                                    </span>
                                    price += p.Price;
                                }
                            </td>
                            <td>@price.ToString("0.00")</td>
                            @{
                                price = 0;
                            }
                            <td>
                                @o.Date
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>

