@using Aciktim.Models
@model dynamic
@{
    Layout = "_Layout";
}

<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h4>Adresler</h4>
        <dl class="row mb-0">
            @foreach (GetAddress a in Model.Address)
            {
                <dt class="col-sm-4">
                    <input type="radio" class="btn-check" name="btnradioAddress" id="btnradio'@a.AddressId'" autocomplete="off" checked="">
                    <label class="btn btn-outline-primary" for="btnradio'@a.AddressId'">@a.AddressName</label>
                </dt>
                <dd class="col-sm-8">
                    <p>@a.Country @a.City @a.State @a.Neighbourhood mah. @a.Street sk. @a.Apartment apt No:@a.No</p>
                </dd>
                <hr class="dropdown-divider">
            }
        </dl>
    </div>
</div>
<div class="col-sm col-xl pt-4 px-4">
    <div class="bg-secondary rounded h-100 p-4">
        <h4>Ödeme Yöntemi</h4>
        <dl class="row mb-0">
            <dt class="col-sm-4">
                <input type="radio" class="btn-check" name="btnradioPayment" id="btnradiok" autocomplete="off" checked="">
                <label class="btn btn-outline-primary" for="btnradiok">Kapıda Ödeme</label>
            </dt>
            <dd class="col-sm-8">
                <p>&emsp;</p>
            </dd>
            <hr class="dropdown-divider">
            @foreach (Card c in Model.Cards)
            {
                <dt class="col-sm-4">
                    <input type="radio" class="btn-check" name="btnradioPayment" id="btnradio'@c.CardId'" autocomplete="off" checked="">
                    <label class="btn btn-outline-primary" for="btnradio'@c.CardId'">Kart</label>
                </dt>
                <dd class="col-sm-8">
                    <p>@c.CardNumber</p>
                </dd>
                <hr class="dropdown-divider">
            }
        </dl>
        <a href="#" class="btn btn-outline-light m-2 btn-lg">Ödeme Yap @Model.Price.ToString("0.00")</a>
    </div>
</div>