@using Aciktim.Models
@model List<Country>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DarkPan - Bootstrap 5 Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="~/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/bootstrap.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->
        <div class="col-sm col-xl pt-4 px-4">
            <div class="bg-secondary rounded h-100 p-4">
                <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="pills-client-tab" data-bs-toggle="pill" data-bs-target="#pills-client" type="button" role="tab" aria-controls="pills-client" aria-selected="true">Müşteri</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-restaurant-tab" data-bs-toggle="pill" data-bs-target="#pills-restaurant" type="button" role="tab" aria-controls="pills-restaurant" aria-selected="false">Restorant</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pills-carrier-tab" data-bs-toggle="pill" data-bs-target="#pills-carrier" type="button" role="tab" aria-controls="pills-carrier" aria-selected="false">Kurye</button>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade active show" id="pills-client" role="tabpanel" aria-labelledby="pills-menu-tab">
                        <!-- Sign Up Client Start -->
                        <div class="container-fluid">
                            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <a href="/Home/Index" class="">
                                                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Acıktım</h3>
                                            </a>
                                            <h3>Kayıt Ol</h3>
                                        </div>
                                        <form action="/Home/SignUpClient" method="post" role="form" id="form1">
                                            <input hidden type="text" name="RoleId" value="1" />
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingText" name="ClientName" required>
                                                <label for="floatingText">Kullanıcı Adı</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInput" name="EMail" required>
                                                <label for="floatingInput">Email adresi</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" name="Phone" maxlength="13" required>
                                                <label for="floatingInput">Telefon</label>
                                            </div>
                                            <div class="form-floating mb-4">
                                                <input type="password" class="form-control" id="floatingPassword" name="Password" required>
                                                <label for="floatingPassword">Parola</label>
                                            </div>
                                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Kayı Ol</button>
                                        </form>
                                        <p class="text-center mb-0">Hesabın var mı? <a href="/Home/Login">Giriş Yap</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sign Up Client End -->
                    </div>
                    <div class="tab-pane fade" id="pills-restaurant" role="tabpanel" aria-labelledby="pills-comment-tab">
                        <!-- Sign Up Restaurant Start -->
                        <div class="container-fluid">
                            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <a href="/Home/Index" class="">
                                                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Acıktım</h3>
                                            </a>
                                            <h3>Kayıt Ol</h3>
                                        </div>

                                        <form action="/Home/SignUpRestaurant" method="post" role="form" id="form1">
                                            <!-- Manager Start-->
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingText" name="ManagerName" required>
                                                <label for="floatingText">Yönetici Adı</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" name="Surname" required>
                                                <label for="floatingInput">Yönetici Soyadı</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" name="Tcno" maxlength="11" required>
                                                <label for="floatingInput">Yönetici TCNo</label>
                                            </div>
                                            <!-- Manager End-->
                                            <hr class="dropdown-divider">
                                            <!-- Address Start-->
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="AddressName" placeholder="Evim" name="AddressName">
                                                <label for="AddressName">Adres Başlığı</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="country" asp-items="@(new SelectList(@Model,"CountryId","Name"))" aria-label="Floating label select example" name="CountryId">
                                                </select>
                                                <label for="country">Ülke</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="city" asp-items="@(new SelectList(string.Empty,"CityId","Name"))" aria-label="Floating label select example" name="CityId">
                                                </select>
                                                <label for="city">Şehir</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="state" asp-items="@(new SelectList(string.Empty,"StateId","Name"))" aria-label="Floating label select example" name="StateId">
                                                </select>
                                                <label for="state">İlçe</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="neighbourhood" asp-items="@(new SelectList(string.Empty,"NeighbourhoodId","Name"))" aria-label="Floating label select example" name="NeighbourhoodId">
                                                </select>
                                                <label for="neighbourhood">Mahalle</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="street" asp-items="@(new SelectList(string.Empty,"StreetId","Name"))" aria-label="Floating label select example" name="StreetId">
                                                </select>
                                                <label for="street">Sokak</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="apartment" asp-items="@(new SelectList(string.Empty,"ApartmentId","Name"))" aria-label="Floating label select example" name="ApartmentId">
                                                </select>
                                                <label for="apartment">Apartman</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="apartmentno" asp-items="@(new SelectList(string.Empty,"ApartmentNumberId","Name"))" aria-label="Floating label select example" name="ApartmentNumberId">
                                                </select>
                                                <label for="apartmentno">Daire</label>
                                            </div>
                                            <!-- Address End-->
                                            <hr class="dropdown-divider">
                                            <input hidden type="text" name="RoleId" value="2" />
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingText" name="RestaurantName" required>
                                                <label for="floatingText">Restorant Adı</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInput" name="EMail" required>
                                                <label for="floatingInput">Email adresi</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" name="Phone" required>
                                                <label for="floatingInput">Telefon</label>
                                            </div>
                                            <div class="form-floating mb-4">
                                                <input type="password" class="form-control" id="floatingPassword" name="Password" required>
                                                <label for="floatingPassword">Parola</label>
                                            </div>
                                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Kayıt Ol</button>
                                        </form>
                                        <p class="text-center mb-0">Hesabın var mı? <a href="/Home/Login">Giriş Yap</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sign Up Restaurant End -->
                    </div>
                    <div class="tab-pane fade" id="pills-carrier" role="tabpanel" aria-labelledby="pills-contact-tab">
                        <!-- Sign Up Carrier Start -->
                        <div class="container-fluid">
                            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                                        <div class="d-flex align-items-center justify-content-between mb-3">
                                            <a href="/Home/Index" class="">
                                                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Acıktım</h3>
                                            </a>
                                            <h3>Kayıt Ol</h3>
                                        </div>
                                        <form action="/Home/SignUpCarrier" method="post" role="form" id="form1">
                                            
                                            <!-- Address Start-->
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="AddressName" placeholder="Evim" name="AddressName">
                                                <label for="AddressName">Adres Başlığı</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="countryc" asp-items="@(new SelectList(@Model,"CountryId","Name"))" aria-label="Floating label select example" name="CountryId">
                                                </select>
                                                <label for="country">Ülke</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="cityc" asp-items="@(new SelectList(string.Empty,"CityId","Name"))" aria-label="Floating label select example" name="CityId">
                                                </select>
                                                <label for="city">Şehir</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="statec" asp-items="@(new SelectList(string.Empty,"StateId","Name"))" aria-label="Floating label select example" name="StateId">
                                                </select>
                                                <label for="state">İlçe</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="neighbourhoodc" asp-items="@(new SelectList(string.Empty,"NeighbourhoodId","Name"))" aria-label="Floating label select example" name="NeighbourhoodId">
                                                </select>
                                                <label for="neighbourhood">Mahalle</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="streetc" asp-items="@(new SelectList(string.Empty,"StreetId","Name"))" aria-label="Floating label select example" name="StreetId">
                                                </select>
                                                <label for="street">Sokak</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="apartmentc" asp-items="@(new SelectList(string.Empty,"ApartmentId","Name"))" aria-label="Floating label select example" name="ApartmentId">
                                                </select>
                                                <label for="apartment">Apartman</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <select class="form-select form-select-sm mb-3" id="apartmentnoc" asp-items="@(new SelectList(string.Empty,"ApartmentNumberId","Name"))" aria-label="Floating label select example" name="ApartmentNumberId">
                                                </select>
                                                <label for="apartmentno">Daire</label>
                                            </div>
                                            <!-- Address End-->
                                            <hr class="dropdown-divider">
                                            <input hidden type="text" name="RoleId" value="4" />
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingText" name="Carriername" required>
                                                <label for="floatingText">Kurye Adı</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="email" class="form-control" id="floatingInput" name="EMail" required>
                                                <label for="floatingInput">Email adresi</label>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <input type="text" class="form-control" id="floatingInput" name="Phone" required>
                                                <label for="floatingInput">Telefon</label>
                                            </div>
                                            <div class="form-floating mb-4">
                                                <input type="password" class="form-control" id="floatingPassword" name="Password" required>
                                                <label for="floatingPassword">Parola</label>
                                            </div>
                                            <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Kayıt Ol</button>
                                        </form>
                                        <p class="text-center mb-0">Hesabın var mı? <a href="/Home/Login">Giriş Yap</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sign Up Carrier End -->
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/chart/chart.min.js"></script>
    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/waypoints/waypoints.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="~/js/main.js"></script>

    <script src="~/Content/assets/js/required/jquery-1.11.1.min.js"></script>

    <script>
        //Cities
        $(document).ready(function() {
            $("#country").change(function() {
                var url = '@Url.Content("~/")' + "Home/GetCities";
                var ddlsource = "#country";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#city").empty();
                    $.each(data, function(i, city) {
                        items += "<option value='" + city.value + "'>" + city.text + "</option>";
                    });
                    $("#city").html(items);
                });
            });
        });
        //States
        $(document).ready(function() {
            $("#city").change(function() {
                var url = '@Url.Content("~/")' + "Home/GetStates";
                var ddlsource = "#city";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#state").empty();
                    $.each(data, function(i, state) {
                        items += "<option value='" + state.value + "'>" + state.text + "</option>";
                    });
                    $("#state").html(items);
                });
            });
        });
        //Neighbourhoods
        $(document).ready(function() {
            $("#state").change(function() {
                var url = '@Url.Content("~/")' + "Home/GetNeighbourhoods";
                var ddlsource = "#state";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#neighbourhood").empty();
                    $.each(data, function(i, neighbourhood) {
                        items += "<option value='" + neighbourhood.value + "'>" + neighbourhood.text + "</option>";
                    });
                    $("#neighbourhood").html(items);
                });
            });
        });
        //Streets
        $(document).ready(function() {
            $("#neighbourhood").change(function() {
                var url = '@Url.Content("~/")' + "Home/GetStreets";
                var ddlsource = "#neighbourhood";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#street").empty();
                    $.each(data, function(i, street) {
                        items += "<option value='" + street.value + "'>" + street.text + "</option>";
                    });
                    $("#street").html(items);
                });
            });
        });
        //Apartments
        $(document).ready(function() {
            $("#street").change(function() {
                var url = '@Url.Content("~/")' + "Home/GetApartments";
                var ddlsource = "#street";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#apartment").empty();
                    $.each(data, function(i, apartment) {
                        items += "<option value='" + apartment.value + "'>" + apartment.text + "</option>";
                    });
                    $("#apartment").html(items);
                });
            });
        });
        //Apartment Numbers
        $(document).ready(function() {
            $("#apartment").change(function() {
                var url = '@Url.Content("~/")' + "Home/GetApartmentNumbers";
                var ddlsource = "#apartment";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#apartmentno").empty();
                    $.each(data, function(i, apartmentno) {
                        items += "<option value='" + apartmentno.value + "'>" + apartmentno.text + "</option>";
                    });
                    $("#apartmentno").html(items);
                });
            });
        });

        //For Carrier
        //Cities
        $(document).ready(function() {
            $("#countryc").change(function() {
                var url = '@Url.Content("~/")' + "Home/GetCities";
                var ddlsource = "#countryc";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#cityc").empty();
                    $.each(data, function(i, city) {
                        items += "<option value='" + city.value + "'>" + city.text + "</option>";
                    });
                    $("#cityc").html(items);
                });
            });
        });
        //States
        $(document).ready(function() {
            $("#cityc").change(function() {
                var url = '@Url.Content("~/")' + "Home/GetStates";
                var ddlsource = "#cityc";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#statec").empty();
                    $.each(data, function(i, state) {
                        items += "<option value='" + state.value + "'>" + state.text + "</option>";
                    });
                    $("#statec").html(items);
                });
            });
        });
        //Neighbourhoods
        $(document).ready(function() {
            $("#statec").change(function() {
                var url = '@Url.Content("~/")' + "Home/GetNeighbourhoods";
                var ddlsource = "#statec";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#neighbourhoodc").empty();
                    $.each(data, function(i, neighbourhood) {
                        items += "<option value='" + neighbourhood.value + "'>" + neighbourhood.text + "</option>";
                    });
                    $("#neighbourhoodc").html(items);
                });
            });
        });
        //Streets
        $(document).ready(function() {
            $("#neighbourhoodc").change(function() {
                var url = '@Url.Content("~/")' + "Home/GetStreets";
                var ddlsource = "#neighbourhoodc";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#streetc").empty();
                    $.each(data, function(i, street) {
                        items += "<option value='" + street.value + "'>" + street.text + "</option>";
                    });
                    $("#streetc").html(items);
                });
            });
        });
        //Apartments
        $(document).ready(function() {
            $("#streetc").change(function() {
                var url = '@Url.Content("~/")' + "Home/GetApartments";
                var ddlsource = "#streetc";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#apartmentc").empty();
                    $.each(data, function(i, apartment) {
                        items += "<option value='" + apartment.value + "'>" + apartment.text + "</option>";
                    });
                    $("#apartmentc").html(items);
                });
            });
        });
        //Apartment Numbers
        $(document).ready(function() {
            $("#apartmentc").change(function() {
                var url = '@Url.Content("~/")' + "Home/GetApartmentNumbers";
                var ddlsource = "#apartmentc";
                $.getJSON(url, { id: $(ddlsource).val() }, function(data) {
                    var items = "";
                    $("#apartmentnoc").empty();
                    $.each(data, function(i, apartmentno) {
                        items += "<option value='" + apartmentno.value + "'>" + apartmentno.text + "</option>";
                    });
                    $("#apartmentnoc").html(items);
                });
            });
        });
    </script>
</body>

</html>

